{% load static %}
<!doctype html>
<html lang="en">
{% load pwa %}
<head>
    {% progressive_web_app_meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'logo/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'logo/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'logo/favicon-16x16.png' %}">
    <link rel="mask-icon" href="{% static 'logo/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <title>{% block title %}Victor Fitness{% endblock %}</title>
    {% block meta_links %}
    {%endblock%}

    <!-- Bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.css" rel="stylesheet"/>

    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>

    <!-- Fontawesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    {% block csslink %} {% endblock %}

    <!-- Line Awesome -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/line-awesome/1.3.0/line-awesome/css/line-awesome.min.css"
          integrity="sha512-vebUliqxrVkBy3gucMhClmyQP9On/HAWQdKDXRaAlb/FKuTbxkjPKUyqVOxAcGwFDka79eTF+YXwfke1h3/wfg=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


</head>

<body>
<div id="js-preloader" class="js-preloader">
    <svg class="bike" viewBox="0 0 48 30" width="48px" height="30px">
        <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1">
            <g transform="translate(9.5,19)">
                <circle class="bike__tire" r="9" stroke-dasharray="56.549 56.549"></circle>
                <g class="bike__spokes-spin" stroke-dasharray="31.416 31.416" stroke-dashoffset="-23.562">
                    <circle class="bike__spokes" r="5"></circle>
                    <circle class="bike__spokes" r="5" transform="rotate(180,0,0)"></circle>
                </g>
            </g>
            <g transform="translate(24,19)">
                <g class="bike__pedals-spin" stroke-dasharray="25.133 25.133" stroke-dashoffset="-21.991"
                   transform="rotate(67.5,0,0)">
                    <circle class="bike__pedals" r="4"></circle>
                    <circle class="bike__pedals" r="4" transform="rotate(180,0,0)"></circle>
                </g>
            </g>
            <g transform="translate(38.5,19)">
                <circle class="bike__tire" r="9" stroke-dasharray="56.549 56.549"></circle>
                <g class="bike__spokes-spin" stroke-dasharray="31.416 31.416" stroke-dashoffset="-23.562">
                    <circle class="bike__spokes" r="5"></circle>
                    <circle class="bike__spokes" r="5" transform="rotate(180,0,0)"></circle>
                </g>
            </g>
            <polyline class="bike__seat" points="14 3,18 3" stroke-dasharray="5 5"></polyline>
            <polyline class="bike__body" points="16 3,24 19,9.5 19,18 8,34 7,24 19" stroke-dasharray="79 79"></polyline>
            <path class="bike__handlebars" d="m30,2h6s1,0,1,1-1,1-1,1" stroke-dasharray="10 10"></path>
            <polyline class="bike__front" points="32.5 2,38.5 19" stroke-dasharray="19 19"></polyline>
        </g>
    </svg>
</div>
<!-- ***** Preloader End ***** -->

{% block body %}

{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
        integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
        crossorigin="anonymous"></script>

<!-- MDB -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.0/mdb.min.js"></script>
<script src='https://www.google.com/recaptcha/api.js' async defer></script>


<script src="{% static 'js/script.js' %}"></script>
{% include 'messages.html' %}
<script>
    $(document).ready(function () {
        // messages timeout for 10 sec
        setTimeout(function () {
            $('.alert').fadeOut('slow');
        }, 10000); // <-- time in milliseconds, 1000 =  1 sec
    });


</script>
</body>

</html>