{% load static %}
<div class="footer-container">
    <div class="container-fluid justify-content-center ">
        <!-- <hr class="mx-0 px-0"> -->
        <footer>
            <div class="row justify-content-around mb-0 pt-5 pb-0 ">
                <div class=" col-11">
                    <div class="row justify-content-center">
                        <div class="col-md-3 col-12 font-italic align-items-center  mt-md-3 mt-4">
                            <h5><span> <img src="{% static 'logo/logo.png' %}" class="img-fluid mb-1 "></span></h5>
                            <!-- <p class="social mt-md-3 mt-2"> <span><i class="fab fa-facebook-f " aria-hidden="true"></i></span>  <span><i class="fab fa-linkedin" aria-hidden="true"></i></span>  <span><i class="fab fa-twitter" aria-hidden="true"></i></span>  </p> -->
                            <small class="copy-rights cursor-pointer">&#9400; 2023 Shape n' Tone 360</small><br>
                            <small>Copyright.All Rights Resered. </small>

                        </div>
                        <div class="col-md-3 col-12  my-sm-0 mt-5">
                            <ul class="list-unstyled">
                                <li class="mt-md-3 mt-4">Contact Us</li>
                                <li>Tel: +254 721 942500</li>
                                <li>Email: shapentone360@gmail.com</li>
                                <li>
                                    <div class="pt-1">
                                        <!-- Section: Social media -->
                                        <section class="mb-4">
                                            <!-- Facebook -->
                                            <a data-mdb-ripple-init
                                                class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.facebook.com/profile.php?id=61559129742151&mibextid=ZbWKwL"
                                                role="button" data-mdb-ripple-color="dark"><i
                                                    class="fab fa-facebook-f"></i></a>

                                            <!-- Twitter -->
                                            <a data-mdb-ripple-init
                                                class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://x.com/VicFitness19?t=AzHyxJQhkD76V1trRPFrvA&s=08"
                                                role="button" data-mdb-ripple-color="dark"><i
                                                    class="fab fa-twitter"></i></a>

                                            <!-- Instagram -->
                                            <a data-mdb-ripple-init
                                                class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.instagram.com/vicfit360?utm_source=qr&igsh=MTI5eTRpMzUxZ3J0YQ=="
                                                role="button" data-mdb-ripple-color="dark"><i
                                                    class="fab fa-instagram"></i></a>

                                        </section>
                                        <!-- Section: Social media -->
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-12 my-sm-0 mt-5">
                            <ul class="list-unstyled">
                                <li class="mt-md-3 mt-4">Useful Links</li>
                                <li>Programs</li>
                                <li>About Us</li>
                                <li>Contact us</li>
                                <li>Pricing</li>
                            </ul>
                        </div>
                        <div class="col-xl-auto col-md-3 col-12 my-sm-0 mt-5">
                            <ul class="list-unstyled">
                                <li class="mt-md-3 mt-4">Offer</li>
                                <li>Intergrated Security Platform</li>
                                <li>Core Features</li>
                                <li>Product Features</li>
                                <li>Pricing</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="mx-0 px-0">
            <div class="container">
                <div class="row mb-2" style="font-size:12px;">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="pull-left">
                            <p>&copy;
                                <script>
                                    document.getElementById("year").innerHTML = new Date().getFullYear();
                                </script> Shape n' Tone 360
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="float-end mr-4 d-flex policy">
                            <div><a href="/terms-of-use/">Terms of Use</a></div>
                            <div><a href="/privacy-policy/">Privacy Policy</a></div>
                            <div><a href="/cookies-policy/">Cookie Policy</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>
</div>