{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{%block title %}
Password Change
{% endblock%}
{% block csslink %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/material-ui/4.12.4/index.js"
    integrity="sha512-wEnX3bNd/CdyrOFR0KIGlHihK/w9x3/It8Vc18aymEF/F/f1q0Mq8T+GSxF1wYUACLEGECapuIYQdQlKY1LBJw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}
{% block body %}
<div class="container emp-profile">
    <form action="/settings/password_change" method="post" enctype="multipart/form-data">
        <div class="row g-3">
            {% csrf_token %}
            {{ reset_password_form|crispy }}
        </div>

        <div class="d-flex justify-content-end mt-3 gap-2">
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </div>
    </form>
</div>
<footer class="footer  fixed-bottom mt-auto pb-3 bg-light">
    <hr class="mx-0 px-0">
            <div class="container">
                <div class="row mb-2" style="font-size:12px;">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="pull-left">
                            <p>&copy; 2020 Shape n' Tone 360</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="float-end mr-4 d-flex policy gap-3">
                            <div><a href="/terms-of-use/">Terms of Use</a></div>
                            <div><a href="/privacy-policy/">Privacy Policy</a></div>
                            <div><a href="/cookies-policy/">Cookie Policy</a></div>
                        </div>
                    </div>
                </div>      
            </div>
</footer>

{%endblock%}