{% extends 'base.html' %}
{% load static %}
{% block csslink %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/material-ui/4.12.4/index.js"
            integrity="sha512-wEnX3bNd/CdyrOFR0KIGlHihK/w9x3/It8Vc18aymEF/F/f1q0Mq8T+GSxF1wYUACLEGECapuIYQdQlKY1LBJw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}
{% block body %}
    {% load crispy_forms_tags %}

    <section class="login-container">
        <article class="form-container position-relative">
            <div class="intro">
                <h1>Register</h1>
                <p>If you already have an account, Please <a href="/login/">login</a> instead.</p>
            </div>
            <div class="d-flex justify-content-start text-left flex-column">

                {% if form.non_field_errors %}
                    {% for message in form.non_field_errors %}
                    <div class="invalid_feedback p-3 mb-3">
                        <p class="text-danger">
                            <i class="fa-solid fa-circle-exclamation"></i> 
                            {{ message }}
                        </p>
                    </div>
                    {% endfor %}
                {% endif %}
                
                <form action="/register/" class="form"  method="post">
                    {% csrf_token %}
                    <div class="email-input">
                        <span class="material-icons icon-size"> badge </span>
                        <span id="seperator"></span>
                        <div class="input-container">
                            <p class="sub-title">First Name</p>
                            {{ form.first_name }}
                        </div>
                    </div>
                    
                    <div class="email-input">
                        <span class="material-icons icon-size"> badge </span>
                        <span id="seperator"></span>
                        <div class="input-container">
                            <p class="sub-title">Last Name</p>
                            {{ form.last_name }}
                        </div>
                    </div>
                    <div class="email-input w-100">
                        <span class="material-icons icon-size"> calendar_month </span>
                        <span id="seperator"></span>
                        <div class="input-container">
                            <p class="sub-title">Date of Birth</p>
                            {{ form.date_of_birth }}
                        </div>
                    </div>
                    <div class="email-input">
                        <span class="material-icons icon-size"> mail_outline </span>
                        <span id="seperator"></span>
                        <div class="input-container">
                            <p class="sub-title">Email</p>
                            {{ form.email }}
                        </div>
                    </div>
                    <div class="email-input">
                        <span class="material-icons icon-size"> password </span>
                        <span id="seperator"></span>
                        <div class="input-container">
                            <p class="sub-title">Password</p>  
                            {{ form.password }}
                        </div>
                    </div>
                    
                    <button type="submit" id="submit">Continue</button>
                </form>
            </div>

            <!-- <div class="d-flex justtify-content-start text-left">
                <form class="form" method="POST">
                    {% csrf_token %}
                    <div class="email-input">
                        <span class="material-icons icon-size"> badge </span>
                        <span id="seperator"></span>
                        <div class="input-container">
                            <p class="sub-title">username</p>
                            <input type="text" name="username" id="username" required/>
                        </div>
                    </div>
                    <div class="email-input">
                        <span class="material-icons icon-size"> mail_outline </span>
                        <span id="seperator"></span>
                        <div class="input-container">
                            <p class="sub-title">Email</p>
                            <input type="email" name="email" id="email" required/>
                        </div>
                    </div>

                    <div class="email-input">
                        <span class="material-icons icon-size"> password </span>
                        <span id="seperator"></span>
                        <div class="input-container">
                            <p class="sub-title">Password</p>
                            <input type="password" name="password1" id="password" required/>
                        </div>
                    </div>
                    <div class="email-input">
                        <span class="material-icons icon-size"> password </span>
                        <span id="seperator"></span>
                        <div class="input-container">
                            <p class="sub-title">Repeat Password</p>
                            <input type="password" name="password2" id="password2" required/>
                        </div>
                    </div>
                    <a href="{% url 'dashboard' %}" id="submit" class="text-center">Continue</a>
                    <button type="submit" id="submit">Continue</button>
                </form>
            </div>

            <article class="outro">
                <div class="ending">
                    <p>Or Continue With</p>
                </div>
                <div class="socials">
                    <a class="social-btn" href="" id="g-btn">
                        <p>Google</p>
                    </a>
                    <a class="social-btn" href="" id="a-btn">
                        <p>Apple</p>
                    </a>
                    <a class="social-btn" href="" id="fb-btn">
                        <p>Facebook</p>
                    </a>
                </div>
            </article> -->
        </article>
        <article class="login-side-bg"></article>

        <div class="position-absolute home-link">
            <a href="/login/">
                <div class="fs-4  m-2 p-2 ">
                    <i class="las la-arrow-left"></i>
                </div>
            </a>
        </div>

    </section>

    <!-- <section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Register</p>

                                <form class="mx-1 mx-md-4" method="Post">

                                    {% csrf_token %}
                                    {{ register_form|crispy }}
                                    <button class="btn btn-primary" type="submit">Register</button>

                                </form>
                               

                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                                    class="img-fluid" alt="Sample image">

                            </div>
                        </div>
                        <div class="text-center">
                            <p class="text-center pt-2">If you already have an account, <a class="texxt-info" href="/login">login</a> ccccccccccccc</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
{% endblock %}