.btn-primary {
  background-color: $base-color;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  transition: 0.3s linear;

  &:hover {
    background-color: $base-color-dark;
  }
}

// header hero section
.primary {
  font-size: 35px;
  font-weight: 700;
}

.secondary {
  font-size: 25px;
  font-weight: 700;
}

.tertiary {
  font-size: 15px;
}

.text {
  width: 60%;
}

.visual {
  width: 40%;
}

.visual img {
  width: 100%;
}

.bg-green{
  background-color: #afca0b;
  height: 40vh;
}
.form_overlay{
  max-width: 80vw;
  border-radius: 8px;
  margin-inline: auto;
  margin-top: -10vh;
  background-color: white;
  box-shadow: #7d7979 8px 8px 26px;
}

.invalid_feedback{
  background-color: #e1b7b7;
  border-radius: 8px;
}

.header {
  background: radial-gradient(#111, #0f1106);
  color: white;

  h1 {
    font-size: 70px;
    font-weight: 700;

    span {
      color: $base-color;
    }
  }

  &::after {
    left: -200px;
  }

  &::before {
    right: -200px;
  }
}

.header,
.section {
  width: 100%;
  padding: 40px 0;
  overflow: hidden;
  color: #fff;
}

.header::after,
.header::before,
.section::after,
.section::before {
  content: "";
  background: url(https://raw.githubusercontent.com/programmercloud/pgc-gym/main/img/blur-1.png);
  position: absolute;
  width: 400px;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0;


}

.section {
  background: #1d1f1e;
  position: relative;
  padding: 80px 0;

  &::after {
    left: -200px;
  }

  &::before {
    width: 600px;
    right: -200px;
  }

  &:nth-child(even) {
    background: #141615;
  }
}

.section:nth-child(even)::after,
.section:nth-child(even)::before {
  display: none;
}

@media (max-width: 768px) {
  .d-flex {
    flex-direction: column;
    text-align: center;
  }

  .text,
  .visual {
    width: 100%;
    margin-bottom: 20px;
  }

  .text h1 {
    font-size: 45px;
  }
}

@media (max-width: 530px) {

  .header::after,
  .header::before,
  .section::after,
  .section::before {
    display: none;
  }
}


// end hero section


.hero-section-1 {
  height: 85vh;
  background-image: url(https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-size: cover;
  background-position: center;

  &-inner {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);

    .btn {
      padding: 10px 28px;
      border-radius: 30px;
    }
  }

}

.section-1 {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    max-width: 1200px;
    width: 80%;
  }

}


// Grid adjustments for half fluid image, half text layouts

// Add class .half-fluid to outer section container
.half-fluid {

  // Add .left-half or .right-half class to the image column depending on which side it goes on
  // On mobile, images stack, break out of the container, and go full width
  .left-half,
  .right-half {
    left: 50%;
    margin-left: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
    padding: 0px;
  }

  // Background image
  .image {
    background-image: url("https://images.unsplash.com/photo-1574680096145-d05b474e2155?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80");
    background-size: cover;
    background-position: center;
    min-height: 400px;
    height: 100%;
  }
}

// When compiling with BS Sass files, use: @include media-breakpoint-up(lg)
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

  .half-fluid {
    .left-half {
      padding-left: 0 !important;
      position: absolute;
      left: 0;
      right: 50%;
      margin-left: auto;
      width: auto;
    }

    .right-half {
      padding-right: 0 !important;
      position: absolute;
      right: 0;
      left: 50%;
      margin-left: auto;
      width: auto;
    }
  }
}

/***********************************
    About Us section
***********************************/
.image-aboutus-banner {
  background-size: cover;
  background: url("/static/img/bg-2.jpg") no-repeat center center;
  color: #fff;
  padding-top: 110px;
  padding-bottom: 110px;
}

.image-aboutus-sm-banner {
  background-size: cover;
  background: url("/static/img/bg-2.jpg") no-repeat center center;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
}

.lg-text {
  font-size: 52px;
  font-weight: 600;
  text-transform: none;
  color: #fff;
}

.image-aboutus-para {
  color: #fff;
}

.aboutus-section {
  padding: 90px 0 0;
}

.aboutus-title {
  font-size: 30px;
  letter-spacing: 0;
  line-height: 32px;
  margin: 0 0 39px;
  padding: 0 0 11px;
  position: relative;
  text-transform: capitalize;
  color: #000;

  &::after {
    background: $base-color none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 54px;
  }
}

.aboutus-text {
  color: #606060;
  font-size: 14px;
  line-height: 22px;
  margin: 0 0 35px;
}

a {

  &:hover,
  &:active {
    color: $base-color;
    text-decoration: none;
    outline: 0;
  }
}

.aboutus-more {
  //border: 1px solid $base-color;
  border-radius: 25px;
  //color: $base-color;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
  padding: 7px 20px;
  text-transform: capitalize;
}

.feature .feature-box {
  .iconset {
    background: #fff none repeat scroll 0 0;
    float: left;
    position: relative;
    width: 18%;

    // &::after {
    //   background: $base-color none repeat scroll 0 0;
    //   content: "";
    //   height: 150%;
    //   left: 43%;
    //   position: absolute;
    //   top: 100%;
    //   width: 1px;
    // }
  }

  .feature-content {
    h4 {
      color: #0f0f0f;
      font-size: 18px;
      letter-spacing: 0;
      line-height: 22px;
      margin: 0 0 5px;
    }

    float: left;
    padding-left: 28px;
    width: 78%;

    p {
      color: #606060;
      font-size: 14px;
      line-height: 22px;
    }
  }
}

// .icon {
//   padding: 0;
//   border: 1px solid $base-color;
//   border-radius: 100px;
//   color: $base-color;
//   font-size: 28px;
//   height: 70px;
//   line-height: 70px;
//   text-align: center;
//   width: 70px;
// }


/***********************************
      articles section 
***********************************/

.articles__page {
  .card {
    border: none;

    a {
      text-transform: capitalize;
    }

    &-img-top {
      img {
        aspect-ratio: 852/480 !important;
        -o-object-fit: cover;
        object-fit: cover !important;
      }
    }

  }

  .rounded {
    border-radius: 4px !important;
  }
}

.card-post {
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($black, .5);
  }

  .card-body {
    position: relative;
  }

  &-meta-img {
    height: 2.25rem;
    width: 2.25rem;
  }

  &.rounded-3,
  &.rounded-3:before {
    overflow: hidden;
    border-radius: .5rem !important;
  }
}

.glass-fx {
  backdrop-filter: blur(.15rem);
}

.pricing {
  padding: 150px 0;

  &::before {
    position: absolute;
    content: "";
    top: -40px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-size: contain;
    // background-image: url(../../assets/images/price-plans/price-plan-background-icons.svg);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
  }

  small,
  .small {
    color: #7a8496;
    padding-bottom: 30px;
    font-weight: 600;
  }

  h2,
  .h2 {
    font-weight: 600;
  }

  .form-switch {
    margin: 70px 0 20px;

    label {
      font-weight: 600;
    }

    .form-check-input {
      margin: 0px 15px;
      height: 22px;
      width: 45px;
    }
  }

  .pricing-head::after {
    position: absolute;
    content: "";
    top: 50px;
    right: 0px;
    left: 0;
    width: 130px;
    height: 130px;
    background-size: contain;
    // background-image: url(../../assets/images/price-plans/dot-shape.png);
    background-repeat: no-repeat;
    z-index: -1;
    background-position: center;
    margin: 0 auto;
  }

  .save::after {
    position: absolute;
    content: "";
    top: -13px;
    right: -30px;
    width: 28px;
    height: 25px;
    background-size: contain;
    // background-image: url(../../assets/images/price-plans/price-arrow.svg);
    background-repeat: no-repeat;
    z-index: -1;
    background-position: center;
  }

  .price-plan {
    padding-top: 70px;

    .badge {
      border-radius: 0px 0px 8px 8px;
      left: 0;
      right: 0;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      top: -10px;
      padding: 10px 12px;

      &::before {
        position: absolute;
        content: "";
        top: -2px;
        left: -9px;
        width: 12px;
        height: 12px;
        background-size: contain;
        // background-image: url(../../assets/images/price-plans/left-shape.svg);
        background-repeat: no-repeat;
        background-position: center;
      }

      &::after {
        position: absolute;
        content: "";
        top: -2px;
        right: -9px;
        width: 12px;
        height: 12px;
        background-size: contain;
        // background-image: url(../../assets/images/price-plans/right-shape.svg);
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    .card-body {
      &::before {
        position: absolute;
        content: "";
        top: 20%;
        right: 0;
        width: 185px;
        height: 185px;
        background-size: contain;
        // background-image: url(../../assets/images/price-plans/price-overlay.svg);
        background-repeat: no-repeat;
        background-position: center;
        left: 0;
        text-align: center;
        margin: 0 auto;
      }

      h2 sup,
      .h2 sup {
        color: #7a8496;
        top: 22px;
      }

      p {
        color: #7a8496;
        line-height: 32px;
        padding: 0px 0 15px;
      }

      ul li {
        padding-bottom: 18px;
        line-height: 30px;

        i {
          color: #37a05b;
          position: relative;
          top: 3px;
        }

        span {
          width: 90%;
          font-weight: 600;
        }
      }
    }
  }
}


.pricing {
  .pricing-head::after {
    top: 20px;
    width: 100px;
    height: 100px;
  }

  .price-plan {
    .col-xxl-4 {
      margin-bottom: 25px;

      &:last-child {
        margin-top: 0;
      }
    }

    .card-body {
      &::before {
        top: 100px;
      }

      ul li {
        padding-bottom: 5px;
      }
    }

    h2 .fs-2,
    .h2 .fs-2 {
      font-size: 40px !important;
    }
  }
}