{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{%block title %}
Reset
{% endblock%}
{% block csslink %}
<link rel="stylesheet" href="{% static 'css/authentication.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/material-ui/4.12.4/index.js"
    integrity="sha512-wEnX3bNd/CdyrOFR0KIGlHihK/w9x3/It8Vc18aymEF/F/f1q0Mq8T+GSxF1wYUACLEGECapuIYQdQlKY1LBJw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- reCAPTCHA API -->
<script src='https://www.google.com/recaptcha/api.js?render={{recaptcha_site_key}}'></script>

{% endblock %}
{% block body %}
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 login-section-wrapper">
                <div class="brand-wrapper">
                    <a href="/">
                        <img src="{% static 'logo/logo.png' %}" alt="logo" class="logo">
                    </a>
                </div>
                <div class="login-wrapper my-auto">
                    <h1 class="login-title">Reset password</h1>
                    <form id="login_form" action="/password_reset/" method="post">
                        {% csrf_token %}

                        <div class="form-group mb-2">
                            {{form|crispy}}
                        </div>
                        
                        <button class="btn login-btn" type="submit">Reset my password</button>
                        
                    </form>

                </div>
            </div>
            <div class="col-sm-6 px-0 d-none d-sm-block">
                <img src="https://images.unsplash.com/photo-1591027480007-a42f6ef886c3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80"
                    alt="login image" class="login-img">
            </div>
        </div>
    </div>
</main>


{% endblock %}