{% extends 'base.html' %}
{% load static %}
{% block title %}Password Reset Requested{% endblock %}
{% block body %}
<div class="flex justify-content-center vh-100">
    <div class="bg-green"></div>
    <div class="p-5 text-center form_overlay">
        <i class="fa-regular fa-circle-check display-1 mb-4"></i>
        <h2>Password Reset Requested</h2>
        <p>We've emailed you instructions for setting your password. You should receive the email shortly.</p>
        <p>If you don't receive an email, please make sure you've entered the address you registered with, and check
            your spam folder.</p>
        <div class="mt-4">
            <a href="/" class="mt-5"><u>Back Home > </u></a>
        </div>
    </div>
</div>
{% endblock %}